@font-face {
    font-family: shabnam;
    src: url('/Font/Shabnam/Shabnam.eot')format(eot);
    src: url('/Font/Shabnam/Shabnam.ttf')format(ttf);
    src: url('/Font/Shabnam/Shabnam.woff')format(woff);
    src: url('/Font/Shabnam/Shabnam.woff2')format(woff2);
}
.fshabnam{
    font-family: shabnam;
}
*{
    transition: all ease 0.2s
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.bgcolor1{
    background-color: #F4F5F7;
}
.bgcolor2{
    background-color: #ECEEEF;
}
.dcolor1{
    background-color: #25384B;
}